* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

#container {
    width: 420px;
    backdrop-filter: blur(2px);
    color:white;
    border: 1px solid white;
    border-radius: 5px;
}

#loginHeader {
    font-size: 35px;
    text-align: center;
}

.info {
    border-radius: 10px;
    height: 25px;
    background: transparent;
    border: 2px solid white;
    width: 98%;
    margin: 0;
    height: 45px;
    font-size: 20px;
    color:white;
}

#userImage {
    position: absolute;
    width: 7.5%;
    height: 8%;
    top: 33%;
    right: 10px;
}

#passImage {
    position: absolute;
    width: 7.5%;
    height: 8%;
    top: 56%;
    right: 10px;
}

#loginForm {
    text-align: center;
}

#loginBot {
    border-radius: 5px;
    font-size: 20px;
    background-color: transparent;
    width: 50%;
    height: 40px;
    color: white;
    border-color: white;
}